<!DOCTYPE html >
<html data-dpr="1" style="font-size: 54px;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body style="font-size: 12px;">
    <div id='mainContainer'>
    </div>
</body>

</html>